@(user : User,loans: List[Option[Loan]])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("") {
    @mainUsers {
    
    <h1>@user.login details</h1>
            
    <ul>
        @loans.map {
            case loan => {
                <li>@loan.get.id
                    <ul>
                    <li>@loan.get.idUser</li>
                    <li>@loan.get.idPhysicalBook</li>
                    <li>@loan.get.dateBorrowed.format("MMM dd yyyy")</li>
                    <li>@loan.get.dateDue.format("MMM dd yyyy")</li>
                    <li>@loan.get.dateReturned.exists(_.format("dd MMM yyyy"))
                    </li>
                    </ul>
                </li>
                
            }
        }
    </ul>
}
}

