@(id:Long)(implicit user:String)

@main("users") {
    @mainUsers("tag") {

        <h1>Tag user card</h1>
        <p></p>

        <p>Please put your user card on the tag and press TAG</p>

        <div class="alert alert-error print error" style="display:none"></div>
        <div class="alert alert-success print success" style="display:none"></div>
        <div class="alert alert-info print info" style="display:none"></div>

        <p></p>
        <input type="button" class="btn btn-large btn-primary" value="Tag" id="tag" />
        <p></p>
        <div id="userResult"></div>

        <a id="ok" class="btn btn-large btn-success" href="@routes.Users.list()" style="display:none">Ok</a>

        <applet mayscript="true" code = 'rfid/RFIDAccess.class' archive = '@routes.Assets.at("libs/applet-library-management-signed.jar"),@routes.Assets.at("libs/log4j-1.2.16.jar"),@routes.Assets.at("libs/yarf-0.2.jar"),@routes.Assets.at("libs/plugin.jar")' name="rfid" height="0" width="0"></applet>


        <script type="text/javascript">

            var RFID = {};

            RFID.main = function() {

                settingHandlers = function() {
                    $("#tag").click(function(){
                        RFID.main.tag();
                    });
                };

                rfidActionPerforming = function() {
                    $("#tag").addClass("disabled");
                    $("#tag").attr("disabled","disabled");
                    $("#ok").hide()
                };

                rfidActionDone= function() {
                    $("#tag").removeClass("disabled");
                    $("#tag").removeAttr("disabled");
                };

                showOkButton= function() {
                    $("#ok").show();
                }

                printMessage = function(status,message) {
                    $(".print").hide();
                    $(".print."+status).show().text(message);
                };

                findUserById = function(id) {
                    jsRoutes.controllers.Users.findUserById(id).ajax({
                        success: function(html){
                            if(id==@id) {
                                printMessage("success","Tagging successfull of user card");
                                $('#userResult').html(html);
                                rfidActionDone();
                                showOkButton();
                            }
                            else {
                                printMessage("error","Tagging error, try again");
                                rfidActionDone();
                            }
                            
                        },
                       error:function() {
                            rfidActionDone();
                            printMessage("error","Tagging error, try again");
                       } 
                    });
                }


                return {
                    init : function() {
                        settingHandlers();
                    },
                    tag : function(id) {
                        rfidActionPerforming();
                        printMessage("info","Writing RFID Tag ...");
                        document.applets['rfid'].write(@id);
                    },
                    findUserById : function(id) {
                        findUserById(id)
                    }

                }
            }();

            jQuery(document).ready(function($) {
                RFID.main.init();
            });

            function writeResult(result) {
                    if(result=="writed") {
                        printMessage("info","Tag writed, now verifing by reading...");
                        document.applets['rfid'].read();
                    } 
                    else {
                        printMessage("error","Unable to tag, try again");
                        rfidActionDone();
                    }
            }

            function readResult(result) {
                if(result=="error") {
                    printMessage("error","Unable to verify, try again to tag");
                    rfidActionDone();
                }
                else {
                    RFID.main.findUserById(result);
                }
            }

            


            



        </script>
    }
}