@(bookForm: Form[Book])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    @mainBooks {
            <h1>Add a book</h1>

            @form(routes.Books.save(),'class -> "form-horizontal") {

            <legend>Book informations</legend>

                    @inputText(bookForm("title"), '_label -> "Title")
                    @inputText(bookForm("isbn"), '_label -> "ISBN")
                
                <div class="form-actions">
                    <a href="@routes.Books.list()" class="btn">Cancel</a>
                    <input type="submit" value="Create this book" class="btn btn-primary">  
                </div>
    }


    }
}