@(bookForm: Form[Book])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("") {
    @mainBooks {
            <h1>Add a book</h1>

            @form(routes.Books.save(),'class -> "form-horizontal") {

            <legend>Book informations</legend>

                    @inputText(bookForm("title"), '_label -> "Title")
                    @inputText(bookForm("isbn"), '_label -> "ISBN")

            <legend>Copies</legend>

                    @helper.input(bookForm("copies"), '_label -> "How many copies ?") { (id, name, value, args) =>
                        <input type="number" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                    } 
                    
                <div class="form-actions">
                    <a href="@routes.Books.list()" class="btn">Cancel</a>
                    <input type="submit" value="Create this book" class="btn btn-primary">  
                </div>
        }

    }
}