@(currentPage: Page[Book], currentOrderBy: Int)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Books.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == Math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy))
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(Math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {
    @mainBooks {

        <h1>@Messages("book.list.title", currentPage.total)</h1>

            @flash.get("success").map { message =>
                <div class="alert alert-success">
                    <strong>Done!</strong> @message
                </div>
            }

            <div id="actions">
                <a class="btn btn-success" id="add" href="@routes.Books.create()">Add a new book</a>
            </div>
            
            @Option(currentPage.items).filterNot(_.isEmpty).map { books =>
                
                <table class="listitems table table-striped table-bordered">
                    <thead>
                        <tr>
                            @header(4, "Isbn")
                            @header(3, "Title")
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @books.map { 
                            case book => {
                                <tr>
                                    <td>@book.isbn</td>
                                    <td>@book.title</td>
                                    <td><a href="@routes.Books.edit(book.id.get)">Edit</a></td>
                                </tr>
                            }
                                
                        }

                    </tbody>
                </table>

                <div id="pagination" class="pagination">
                    <ul>
                        @currentPage.prev.map { page =>
                            <li class="prev">
                                <a href="@link(page)">&larr; Previous</a>
                            </li> 
                        }.getOrElse {
                            <li class="prev disabled">
                                <a>&larr; Previous</a>
                            </li>
                        }
                        <li class="current">
                            <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + books.size) of @currentPage.total</a>
                        </li>
                        @currentPage.next.map { page =>
                            <li class="next">
                                <a href="@link(page)">Next &rarr;</a>
                            </li> 
                        }.getOrElse {
                            <li class="next disabled">
                                <a>Next &rarr;</a>
                            </li>
                        }
                    </ul>
                </div>
                
            }.getOrElse {
                
                <div class="well">
                    <em>Nothing to display</em>
                </div>
                
            }

    }
}