@(content:Html)

<div class="row">
        <div class="span2">
            <ul class="nav nav-list well">
                  <li class="nav-header">Books</li>
                  <li class="active"><a href="@routes.Books.list()">List books</a></li>
                  <li><a href="@routes.Books.create()">Add book</a></li>
                  <li><a href="">Tag book</a></li>
                  <li><a href="#">Untag book</a></li>
            </ul>
        </div>
        <div class="span10">
            @content
        </div>
</div>