@(id:Long)

@main("books")("") {
    @mainBooks("tag") {

        <h1>Tag book</h1>
        <p></p>

        <p>Please put your user card on the tag and press TAG to tag this book:</p>
        <p></p>
        <div id="bookToTag"></div>
        <p></p>
        <input type="button" class="btn btn-large btn-primary" value="Tag" id="tag" />
        <p></p>
        <div class="alert alert-error print error" style="display:none"></div>
        <div class="alert alert-success print success" style="display:none"></div>
        <div class="alert alert-info print info" style="display:none"></div>
        
        <p></p>
        <div id="bookResult"></div>

        <a id="ok" class="btn btn-large btn-success" href="@routes.PhysicalBooks.list()" style="display:none">Ok</a>

        <applet mayscript="true" code = 'rfid/RFIDAccess.class' archive = '@routes.Assets.at("libs/applet-library-management-signed.jar"),@routes.Assets.at("libs/log4j-1.2.16.jar"),@routes.Assets.at("libs/yarf-0.2.jar"),@routes.Assets.at("libs/plugin.jar")' name="rfid" height="0" width="0"></applet>


        <script type="text/javascript">

            var RFID = {};

            RFID.main = function() {

                settingHandlers = function() {
                    $("#tag").click(function(){
                        RFID.main.tag();
                    });
                };

                rfidActionPerforming = function() {
                    $("#tag").addClass("disabled");
                    $("#tag").attr("disabled","disabled");
                    $("#ok").hide()
                };

                rfidActionDone= function() {
                    $("#tag").removeClass("disabled");
                    $("#tag").removeAttr("disabled");
                };

                showOkButton= function() {
                    $("#ok").show();
                }

                printMessage = function(status,message) {
                    $(".print").hide();
                    $(".print."+status).show().text(message);
                };

                findBookById = function(id) {
                    jsRoutes.controllers.PhysicalBooks.findPhysicalBookWithBook(id).ajax({
                        success: function(html){
                            if(id==@id) {
                                printMessage("success","Book successfull tagged");
                                $('#bookResult').html(html);
                                rfidActionDone();
                                showOkButton();
                            }
                            else {
                                printMessage("error","Tagging error, try again");
                                rfidActionDone();
                            }
                            
                        },
                       error:function() {
                            rfidActionDone();
                            printMessage("error","Tagging error, try again");
                       } 
                    });
                };

                displayBookToTag = function(id) {
                    jsRoutes.controllers.PhysicalBooks.findPhysicalBookWithBook(id).ajax({
                        success: function(html){
                                $('#bookToTag').html(html);
                            
                        },
                       error:function() {
                            printMessage("error","This book doesn't exit, need to create it first");
                       } 
                    });
                };


                return {
                    init : function() {
                        settingHandlers();
                        displayBookToTag(@id)
                    },
                    tag : function(id) {
                        rfidActionPerforming();
                        printMessage("info","Writing RFID Tag ...");
                        document.applets['rfid'].write(@id);
                    },
                    findBookById : function(id) {
                        findBookById(id)
                    },
                    displayBookToTag : function(id) {
                        displayBookToTag(id)
                    }

                }
            }();

            jQuery(document).ready(function($) {
                RFID.main.init();
            });

            function writeResult(result) {
                    if(result=="writed") {
                        printMessage("info","Tag writed, now verifing by reading...");
                        document.applets['rfid'].read();
                    } 
                    else {
                        printMessage("error","Unable to tag, try again");
                        rfidActionDone();
                    }
            }

            function readResult(result) {
                if(result=="error") {
                    printMessage("error","Unable to verify, try again to tag");
                    rfidActionDone();
                }
                else {
                    RFID.main.findBookById(result);
                }
            }

            


            



        </script>
    }
}