@(owner:Option[User],book:Option[(PhysicalBook,Option[Book])],contextLoan: ContextLoan,dateBorrowed:java.util.Date,dateDue:java.util.Date)

@import helper._

@main("") {

    @mainLoans {

    <h1>New loan</h1>
    @form(routes.Loans.save(),'class -> "form-horizontal") {

            <legend>Owner of the loan</legend>

              @owner match {
              case None => {
                <ul>
                <li><a href="@routes.Loans.selectUser(contextLoan.ownerId,contextLoan.bookId)">Select an user</a></li>
                <li>Use RFID Card</li>
                </ul>
              }
              case Some(_) => {
                <p>@owner.get.login (<a href="@routes.Loans.selectUser(contextLoan.ownerId,contextLoan.bookId)">Edit</a>)</p>
                <input type="hidden" name="ownerId" value="@owner.get.id">
              }

              }


            

            <legend>Book loaned</legend>

            @book match {
              case None => {
                <ul>
                <li><a href='@routes.Loans.selectBook(contextLoan.ownerId,contextLoan.bookId,"newLoan")'>Find a book</a></li>
                <li>Use RFID Reader</li>
                </ul>
              }
              case Some(_) => {
                <p>@book.map { 
                    case (physicalbook, book) => {
                        <ul>
                            <li>@book.map(_.isbn).getOrElse { <em>-</em> }</li>
                            <li>@book.map(_.title).getOrElse { <em>-</em> } </li>
                        </ul>
                        <input type="hidden" name="bookId" value="@physicalbook.id">
                    }
                } 
                </p>
                <p>(<a href='@routes.Loans.selectBook(contextLoan.ownerId,contextLoan.bookId,"newLoan")'>Edit</a>)</p>
              }

            }
            

            <legend>Loan information</legend>

            <ul>
                <li>Date borrowed : @dateBorrowed.format("dd MMM yyyy")</li>
                <li><strong>Due date: @dateDue.format("dd MMM yyyy")</strong></li>
            </ul>

                    
                <div class="form-actions">
                    <a href="@routes.Loans.index()" class="btn">Cancel</a>
                    <input type="submit" value="Validate this loan" class="btn btn-primary">  
    }

    }
}