@(book:Option[(PhysicalBook,Option[Book])],loan:Option[(Loan,Option[User])])

@import helper._

@main("loans")("") {

    @mainLoans("return") {

    <h1>Return book</h1>
    @form(routes.Loans.close,'class -> "form-horizontal") {

            <legend>Book to return</legend>

            @book match {
              case None => {
                <div class="iconchoice-content">
                    <a href='@routes.Loans.selectBook(None,None,"returnLoan")'>
                        <div class="icon icon-LMlist" title="Select in the list">
                        </div>
                    </a>
                    <a href='@routes.Loans.selectBookRFID()'>
                        <div class="icon icon-rfid" title="Read from RFID">
                        </div>
                    </a>
                </div>
              }
              case Some(_) => {
                <p>@book.map { 
                    case (physicalbook, book) => {
                        <ul>
                            <li>@physicalbook.id</li>
                            <li>@book.map(_.isbn).getOrElse { <em>-</em> }</li>
                            <li>@book.map(_.title).getOrElse { <em>-</em> } </li>
                        </ul>
                    }
                } 
                </p>
                <p>(<a href='@routes.Loans.selectBook(None,None,"returnLoan")'>Edit</a>)</p>

                
              }

            }
            

            <legend>Loan information</legend>

              @loan.map {
              case (loan,user) => {
                    <ul>
                        <li>User: @user.map(_.login).get</li>
                        <li>Date borrowed: @loan.dateBorrowed.format("dd MMM yyyy")</li>
                        <li>Date due: @loan.dateDue.format("dd MMM yyyy")</li>
                        <li><strong>Date returned: @loan.dateReturned.get.format("dd MMM yyyy")</strong></li>
                    </ul>
                    <input type="hidden" name="bookId" value="@loan.idPhysicalBook">
              }

              }

                    
                <div class="form-actions">
                    <a href="@routes.Loans.list()" class="btn">Cancel</a>
                    <input type="submit" value="Close this loan" class="btn btn-primary">  
    }

    }
}