@(contextLoan: ContextLoan,action:String,currentPage: Page[(PhysicalBook, Option[Book])], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash,user: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.PhysicalBooks.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main("loans") {
    @mainLoans("") {
    
    <h1>Select Book</h1>

    @flash.get("success").map { message =>
                <div class="alert alert-success">
                    <strong>Done!</strong> @message
                </div>
    }
    <div class="selectBook">
    <p></p>
        @helper.form(action=routes.Loans.selectBook(contextLoan.ownerId,contextLoan.bookId,action),'class -> "form-horizontal") {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Search by book title...">
            <input type="submit" id="searchsubmit" value="Search by title" class="btn btn-primary">
            <input type="hidden" name="action" value="@action">
        }
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { physicalbooks =>
        
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    @header(1, "Copy id")
                    <th>Isbn</th>
                    @header(2, "Book")
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @physicalbooks.map { 
                    case (physicalbook, book) => {
                        <tr>
                            <td>@physicalbook.id</td>
                            <td>
                                @book.map(_.isbn).getOrElse { <em>-</em> }
                            </td>
                            <td>
                                @book.map(_.title).getOrElse { <em>-</em> }
                            </td>
                            @if(action=="newLoan") {
                                <td><a class="btn btn-success" href="@routes.Loans.newLoan(contextLoan.ownerId,Some(physicalbook.id.get.toLong))">Select</a></td>  
                            } else {
                                <td><a class="btn btn-success" href="@routes.Loans.returnLoan(Some(physicalbook.id.get.toLong))">Select</a></td>  
                            }
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + physicalbooks.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }

</div>
    }
}

            