@(contextLoan: ContextLoan)

@main("books")("") {
    @mainLoans("") {

        <h1>Read user from RFID</h1>
        <p></p>

        <p>Please put your user card on the reader and press READ</p>

        <div class="alert alert-error print error" style="display:none"></div>
        <div class="alert alert-success print success" style="display:none"></div>
        <div class="alert alert-info print info" style="display:none"></div>

        <p></p>
        <input type="button" class="btn btn-large btn-primary" value="Read" id="read" />
        <p></p>
        <div id="userResult"></div>

        <a id="close" class="btn btn-large btn-success" href="" style="display:none">Select this user</a>

        <applet mayscript="true" code = 'rfid/RFIDAccess.class' archive = '@routes.Assets.at("libs/applet-library-management-signed.jar"),@routes.Assets.at("libs/log4j-1.2.16.jar"),@routes.Assets.at("libs/yarf-0.2.jar"),@routes.Assets.at("libs/plugin.jar")' name="rfid" height="0" width="0"></applet>


        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $("#read").click(function(){
                    $(this).addClass("disabled");
                    $(this).attr("disabled","disabled");
                    $("#close").hide()
                    $("#readStatus").text("Reading ...")
                    document.applets['rfid'].read();
                });

                
            });

            function printResult(result) {
                    printMessage("info","Reading successfull, Searching corresponding user...");
                    findUserById(2);
            }

            function findUserById(id) {
                jsRoutes.controllers.Users.findUserById(id).ajax({
                    success: function(html){
                        printMessage("success","User found");
                        $('#userResult').html(html);
                        showOKButton(id);
                    },
                   error:function() {
                        $("#read").removeClass("disabled");
                        $("#read").removeAttr("disabled");
                        printMessage("error","Error, no user found");
                   } 
                });
            }

            function showOKButton(id) {
                $("#read").removeClass("disabled");
                $("#read").removeAttr("disabled");
                @if(contextLoan.bookId.isDefined) {
                    $("#close").attr("href",jsRoutes.controllers.Loans.newLoan(id,@contextLoan.bookId.get).url);
                } else {
                    $("#close").attr("href","/loans/new?ownerId="+id);
                }
                $("#close").show();
            }

            function printMessage(status,message) {
                $(".print").hide();
                $(".print."+status).show().text(message);
            }



        </script>
    }
}