@(user:String)

@main("home")(user) {
    
    <h1>Dashboard</h1>
    
    <div class="row">
        <div class="dashboard-content">
            <a href="@routes.Books.list()">
                <div class="icon icon-books" title="Books">
                </div>
            </a>
            <a href="@routes.Users.list()">
                <div class="icon icon-users" title="Users">
                </div>
            </a>
            <a href="@routes.Loans.list()">
                <div class="icon icon-loans" title="Loan and Return">
                </div>
            </a>
        </div>
    </div>

}