@(section:String)(user: String)(content: Html)

@menuTopBar = @{Seq(
    ("home", "Home", routes.Application.index()),
    ("books", "Books", routes.Books.list()),
    ("users", "Users", routes.Users.list()),
    ("loans", "Loan and Return", routes.Loans.list())
)}

<!DOCTYPE html>
<html>
    <head>
        <title>Library Management</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    </head>
    <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="@routes.Application.index()">Library Management</a>
            <ul class="nav">
                @menuTopBar.map {
                       case (key, title, url) if(key == section) => {
                           <li class="active"><a href="@url">@title</a></li>
                       }
                       case (key, title, url) => {
                           <li><a href="@url">@title</a></li>
                       }
                   }
            </ul>
            <ul class="nav pull-right">
                <li class=""><a href="@routes.Application.logout()">Logout (@user)</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="main container">

      @content

    </div>
        
    </body>
</html>

