@(content:Html)

<div class="row">
        <div class="span2">
            <ul class="nav nav-list well">
                  <li class="nav-header">Catalog</li>
                  <li class="active"><a href="@routes.Books.list()">List catalog</a></li>
                  <li><a href="@routes.Books.create()">Add book</a></li>
                  <li class="nav-header">Books on shelf</li>
                  <li><a href="@routes.PhysicalBooks.list()">List copies</a></li>
                  <li><a href="">Add a copy</a></li>
                  <li><a href="">Tag copy</a></li>
                  <li><a href="#">Untag copy</a></li>
            </ul>
        </div>
        <div class="span10">
            @content
        </div>
</div>