@(section:String)(content:Html)

@menuItems = @{Seq(
    ("list", "List of loans", routes.Loans.list()),
    ("new", "Make a new loan", routes.Loans.newLoan(None,None)),
    ("return", "Return of a loan", routes.Loans.returnLoan(None))
)}

<div class="row">
        <div class="span2">
            <ul class="nav nav-list well">
                <li class="nav-header">Loan and Return</li>
                @menuItems.map {
                       case (key, title, url) if(key == section) => {
                           <li class="active"><a href="@url">@title</a></li>
                       }
                       case (key, title, url) => {
                           <li><a href="@url">@title</a></li>
                       }
                   }
            </ul>
        </div>
        <div class="span10">
            @content
        </div>
</div>