@(user: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>Library Management</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    </head>
    <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="@routes.Application.index()">Library Management</a>
            <ul class="nav">
              <li><a href="@routes.Application.index()">Home</a></li>
              <li><a href="@routes.Books.list()">Books</a></li>
              <li><a href="@routes.Users.list()">Users</a></li>
              <li><a href="@routes.Loans.index">Loan and Return</a></li>
            </ul>
            <ul class="nav pull-right">
                <li class=""><a href="@routes.Application.logout()">Logout (@user)</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="main container">

      @content

    </div>
        
    </body>
</html>

