@(section:String)(content:Html)

@menuItems = @{Seq(
    ("list", "List users", routes.Users.list()),
    ("add", "Add user", routes.Users.create())
)}



<div class="row">
        <div class="span2">
            <ul class="nav nav-list well">
                <li class="nav-header">Users</li>
                @menuItems.map {
                       case (key, title, url) if(key == section) => {
                           <li class="active"><a href="@url">@title</a></li>
                       }
                       case (key, title, url) => {
                           <li><a href="@url">@title</a></li>
                       }
                   }
            </ul>
        </div>
        <div class="span10">
            @content
        </div>
</div>